.paribuContainer {
  max-width: 1400px;
  position: relative;
  z-index: 1;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;

  .paribuTable {
    background-color: #1c1f27;
    color: #fff;
    border: #1c1f27;
    border-radius: 2px;
    line-height: 1.5;
    max-width: 100%;

    .mobileTableWrapper {
      background: #1c1f27;
      position: relative;
      margin-bottom: 0;

      ul {
        list-style: none;
        border: 1px solid #282b32;
        border-radius: 3px;
        padding-left: 0 !important;

        li {
          height: 56px;
          padding: 0 10px;
          border-bottom: 1px solid #282b32;

          .coinListWrapper {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .coinInformation {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: 33.3%;

              .mobileImageWrapper {
                position: relative;
                width: 33px;
                height: 33px;
                font-size: 20px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              img {
                width: 80%;
                display: block;
                border-radius: 4px;
              }

              .coinMobileInformation {
                display: flex;
                flex-direction: column;

                h4 {
                  font-size: 15px;
                  color: #fff;
                  line-height: 22px;
                  padding: 0;
                  margin: 0;
                }

                .coinMobileVolume {
                  font-size: 13px;
                  line-height: 16px;
                  color: #96a825;

                  .coinMobileVolumeSymbol {
                    text-transform: uppercase;
                    font-size: 9px;
                    margin-left: 4px;
                  }
                }
              }

              .coinImageBackground {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: .15;
                z-index: 1;
              }
            }

            .coinGraphic {
              width: 33.3%;
            }

            .coinLastChanges {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              width: 33.3%;

              .mobileMoreArrow {
                color: #bbbbbe;
                margin-right: -4px;
                font-size: 14px;
              }

              .mobileLastChangesWrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-end;

                .mobileLastStatus {
                  font-size: 14px;
                  margin: 0 8px;
                  color: #fff;

                  .mobileLastStatusSymbol {
                    font-size: 12px;
                    margin-left: 3px;
                  }
                }

                .mobilePercentagePositive {
                  color: #96a825;
                  font-size: 11px;
                  margin: 0 8px;
                }

                .mobilePercentageNegative {
                  color: #e84362;
                  font-size: 11px;
                  margin: 0 8px;
                }
              }
            }
          }
        }
      }
    }

    .tableBottomExplore {
      background-color: #272727;
      height: 36px;
      padding: 0 16px;
      font-size: 10px;
      color: #bbbbbe;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      transition: all .28s;
      text-decoration: none;

      &:hover {
        background-color: #333333;
      }

      .bottomContent {
        color: inherit;
        font-size: inherit;
        text-transform: inherit;
        text-decoration: none;
      }
    }

    th {
      font-size: 11px !important;
      color: #bbbbbe !important;
      height: 40px !important;
      font-weight: 600;
    }

    .coinTableWrapper {
      overflow-x: auto;
      overflow-y: hidden;

      svg {
        color: #fff;
        caret-color: #fff;

        path {
          stroke-dashoffset: 0;
          stroke-dasharray: 328.132;
          transition: stroke-dashoffset 2000ms ease 0s;
        }
      }

      .coinPercentage {
        font-size: 13px;
        padding: 6px 5px;
        border-radius: 3px;
        color: var(--v-darkGray-base);
        background: rgba(144, 146, 150, .3);
        font-weight: 600;
        word-spacing: -4px;
        display: block;
        width: 64px;
        text-align: center;
        float: right;
      }

      .coinEarnedValue {
        background: #96a825;
        color: #fff;
      }

      .coinLostValue {
        background: #e84362;
        color: #fff;
      }

      .coinMarketValue {
        font-size: 14px;
        position: relative;

        .coinMarketValueSymbol {
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 600;
          color: #bbbbbe;
          position: absolute;
          top: 4px;
          right: -35px;
          text-align: left;
          width: 30px;
        }
      }

      .transparentBuyCoin {
        position: absolute;
        right: 13px;
        left: 13px;
        height: 70px;
        margin-top: -16px;
        z-index: 2;
      }

      .buyCoin {
        height: 36px;
        min-width: 64px;
        background-color: #96a825;
        border-color: #96a825;
        font-size: 0.875rem;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        outline: none;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
      }

      .coinLastStatus {
        font-family: Cairo, monospace;
        font-size: 14px;
        white-space: nowrap;
        font-weight: 600;
        color: #fff;
      }

      .coinLastSymbol {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        color: #bbbbbe;
      }
    }

    .coinWrapper {
      display: flex;
      align-items: center;

      .coinTitle {
        font-size: 14px;
        color: #fff;
        display: inline-block;
        font-weight: 600;
      }

      .coinAbbr {
        font-size: 14px;
        color: #bbbbbe;
        text-transform: uppercase;
        display: inline-block;
        margin-left: 5px;
      }

      .coinImageWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin-right: 12px;

        img {
          width: 80%;
          display: block;
          border-radius: 4px;
        }

        .coinImageBackground {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: .15;
          z-index: 1;
        }
      }
    }

    table {
      width: 100%;
      border-spacing: 0;

      tr:not(:last-child) {
        td {
          border-bottom: thin solid rgba(255, 255, 255, 0.22)
        }
      }

      tr {
        td {
          height: 70px;
        }

        th, td {
          padding: 0 16px;
          transition: height .2s cubic-bezier(.4, 0, .6, 1);
        }
      }

      thead {
        tr:last-child {
          th {
            border-bottom: thin solid #ffffff1f;
          }
        }
      }

      tbody {
        tr {
          transition: all .2s;

          &:hover {
            background-color: #616161;
          }
        }
      }
    }
  }
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

@media screen and (max-width: 1440px) {
  .paribuContainer {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1280px) {
  .paribuContainer {
    max-width: 800px;
  }
}

@media screen and (max-width: 600px) {
  .paribuContainer {
    .paribuTable {
      .mobileTableWrapper {
        .coinInformation {
          img {
            min-width: 30px;
          }
          .coinMobileInformation {
            h4 {
              font-size: 13px !important;
            }
          }
        }
      }
    }
  }
}